/* Global styles */
body {
	width: 350px;
	min-height: 200px;
	max-height: 800;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(to bottom right, #440066, #111111);
	color: #FFFFFF;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	padding-bottom: 10px;
	/* background: linear-gradient(to bottom right, #440066, #111111);*/
}

.spacer {
	height: 20px;
}


/* Scroll Bar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: linear-gradient(to top left, #25005d, #8c4ba8);
}

::-webkit-scrollbar-thumb {
	background-color: #DDDDDD;
	border-radius: 10px;
	border: 2px solid #440066;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #FFFFFF;
}


/* Logo Sytles*/
.Logo {
	position: absolute;
	top: 10px;
	left: 15px;
	width: 80px;
	height: auto;
}

.logo img {
	max-width: 100%;
	height: 40px;
}


/* Settings Cog */
.settings-logo {
	position: absolute;
	top: 20px;
	right: 15px;
	width: 50px;
	height: 50px;
}

.settings-logo img {
	max-width: 100%;
	height: 40px;
	transition: transform 1s ease-in-out;
}

.settings-logo img:hover {
	transform: rotate(90deg);
}


/* Output styles */
.output-box {
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	background: linear-gradient(to top left, #25005d, #8c4ba8);
	backdrop-filter: blur(5px);
}

.output-label {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 18px;
	color: #DDDDDD;
}

.output-gen {
	margin: 0;
	color: #FFFFFF;
}


/* Input styles */
.input-box {
	display: inline-block;
	padding: 10px;
}

#userInput {
	width: 300px;
	height: 30px;
	/* default base height */
	border: none;
	outline: none;
	font-size: 16px;
	padding: 5px;
	border-radius: 8px;
	background: linear-gradient(to top left, #25005d, #8c4ba8);
	color: whitesmoke;
	overflow: auto;
	resize: vertical;
}