/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #111111;
	color: #FFFFFF;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 30px;
	background-color: #1D1D1D;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Header styles */
h1 {
	margin-top: 0;
	font-size: 36px;
	color: #0082CA;
}

/* Input styles */
.input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

#userInput {
	flex-grow: 1;
	margin-right: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #2B2B2B;
	color: #FFFFFF;
}

#submitButton {
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #0082CA;
	color: #FFFFFF;
	cursor: pointer;
}

#submitButton:hover {
	background-color: #005F9C;
}

/* Output styles */
.output-box {
	background-color: #2B2B2B;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

.output-label {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 18px;
	color: #0082CA;
}

.output-gen {
	margin: 0;
	color: #FFFFFF;
}