body {
	background-color: #212121;
	color: #f5f5f5;
	height: auto;
	width: 300px;
	border-radius: 15px;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration-line: underline;
}

button {
	background-color: #bb86fc;
	color: #212121;
	position: inherit;
	align-items: center;
	margin: 5px;
}

.input {
	justify-content: center;
	align-items: center;
	display: flex;
}

.spacer {
	height: 15px;
}

.output-box {
	width: auto;
	height: auto;
	display: grid;
	grid: 
		"sidebar body" 1fr
		/ auto 1fr;
	gap: 8px;
	background-color: #303030;
	border-radius: 10px;
	justify-content: flex-start;
}

.output-label {
	grid-area: sidebar;
	justify-content: center;
	align-items: center;
	padding-left: 5px;
	display: flex;
}

.ouptut-gen{
	grid-area: body;
}